.header {
  max-width: 1390px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid var(--green);
  background: var(--black);
  font-family: var(--font-family);
  padding: 0 80px;
  z-index: 10;
}

.linksRight a, .linksLeft a, .menuContent a {
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin: 20px;
  padding: 0 5px 10px 5px;
  position: relative;
  color: var(--green);
}

.linksRight a:after, .linksLeft a:after, .menuContent a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: var(--green);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.linksRight a:hover:after, .linksLeft a:hover:after, .menuContent a:hover:after { 
  width: 100%; 
  left: 0; 
}


.title {
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--green);
  font-size: 20px;
}

@media (max-width: 740px) {
  .title {
    left: 0;
    transform: none;
  }
}

@media (max-width: 940px) {
  .title {
    left: 0;
    transform: none;
  }

  .linksRight a:after, .linksLeft a:after, .menuContent a:after {
    left: 0;
    width: 0;
  }

  .linksRight a:hover:after, .linksLeft a:hover:after, .menuContent a:hover:after {
    width: 100%;
    left: 0;
  }
}

.linksLeft {
  float: left;
}

.linksRight {
  float: right;
}

.hamburgerContainer {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.hamburgerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburgerButton span {
  width: 30px;
  height: 2px;
  background: var(--green);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburgerButton.open span:first-child {
  transform: rotate(38deg);
}

.hamburgerButton.open span:nth-child(2) {
  opacity: 0;
}

.hamburgerButton.open span:nth-child(3) {
  transform: rotate(-38deg);
}

.menuContent {
  position: absolute;
  top: 40px;
  right: 0;
  background: black;
  border: 1px solid var(--green);
  padding: 10px;
  flex-direction: column;
  min-width: 160px;
}

.menuContent a {
  color: var(--green);
  text-decoration: none;
  font-size: 16px;
  padding: 5px 0;
}
