.typewriter {
  display: inline-block;
}

.staticBlinker {
  opacity: 1;
  height: 15px;
  border-left: 10px solid var(--color-primary);
}

.blinker {
  opacity: 1;
  height: 15px;
  border-left: 10px solid var(--color-primary);
  animation: blinker 0.9s steps(2, start) infinite;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

@keyframes blinker {
  to { 
    visibility: hidden; 
  }
}