.footer {
  background-color: var(--background-color);
}

.footerContent {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: var(--font-family);
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.footerLinks a {
  color: var(--color-1);
  text-decoration: none;
  position: relative;
  font-size: 13px;
}

.footerLinks a:hover {
  color: var(--color-1);
}

.footerLinks a:visited {
  color: var(--color-1);
}


.footerLinks a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  top: 20px;
  position: absolute;
  background: var(--color-1);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.footerLinks a:hover:after { 
  width: 100%; 
  left: 0; 
}

@media (max-width: 640px) {
  .footerLinks a:after {
    display: none;
  }
}

.footerText {
  text-align: center;
  margin-top: 15px;
  color: var(--color-1-secondary);
  opacity: 0.8;
  font-size: 12px;
}

.footerText p {
  font-family: var(--font-family);
}