.home {
  max-width: 1550px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hero {
  position: relative;
  background-image: var(--hero-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 540px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  perspective: 1000px;
}

.stateString {
  display: inline-block;
  padding-left: 10px;
  font-size: 14px;
}

.blogPost {
  font-family: var(--font-family);
  padding: 40px;
  padding-left: 15vw;
  border-top: 1px solid var(--color-1-secondary-opaque);
}

.blogPosts {
  border-bottom: 1px solid var(--color-1-secondary-opaque);
}

.blogPost:hover {
  background-color: var(--color-1-opaque);
  cursor: pointer;
}

.title {
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--color-1);
  font-size: 25px;
  text-transform: capitalize;
}

.author {
  color: var(--color-2-secondary);
  font-size: 15px;
  padding-top: 5px;
  opacity: 0.8;
}

.separator:after {
  content: '•';
  font-size: 15px;
  padding: 0 10px;
}

.secondLine {
  margin-top: 10px;
  font-size: 15px;
}

.separator, .comments, .timestamp {
  color: var(--color-1-secondary);
  opacity: 0.8;
}

.blogPostContainer a {
  text-decoration: none;
}

.flairsLine {
  margin-top: 5px;
}

.flair {
  color: var(--color-1-secondary);
  opacity: 0.8;
}

.flair:hover {
  opacity: 1;
  color: var(--color-1);
  cursor: pointer;
}
