.home {
  max-width: 1550px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hero {
  position: relative;
  background-image: url('/public/assets/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 540px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  perspective: 1000px;
}

.stateString {
  display: inline-block;
  padding-left: 10px;
}

.blogPost {
  font-family: var(--font-family);
  padding: 40px;
  padding-left: 15vw;
  border-top: 1px solid #00ff0050;
}

.blogPost:last-child {
  border-bottom: 1px solid #00ff0050;
}

.blogPost:hover {
  background-color: #00ff0020;
  cursor: pointer;
}

.title {
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--green);
  font-size: 25px;
}

.author {
  color: #e9e76ca2;
  font-size: 15px;
  padding-top: 5px;
}

.separator:after {
  content: '•';
  font-size: 15px;
  padding: 0 10px;
}

.secondLine {
  margin-top: 10px;
  font-size: 15px;
}

.separator, .comments, .timestamp {
  color: var(--green-dark);
}

.blogPostContainer a {
  text-decoration: none;
}
