.postPage {
  max-width: 1390px;
  margin: 0 auto;
}

.post {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 816px;
  background-color: var(--background-color);
  padding: 40px;
  color: var(--color-post);
  font-family: var(--font-family);
  line-height: 1.5;
  letter-spacing: -.4px;
  word-break: break-word;
  text-align: center;
}

.postContent {
  font-size: 14px;
  width: 816px;
  margin: 0 auto;
  text-align: left;
}

.post h1 {
  font-family: var(--font-family);
  text-align: left;
}

@media (max-width: 1111px) {
  .post {
    border: none;
    padding: 20px 20px 40px 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .postContent {
    width: 100%;
    max-width: 100%;
  }
}

.postPage h1 {
  font-size: 25px;
  text-transform: capitalize;
}

@media (max-width: 640px) {
  .postPage h1 {
    font-size: 20px;
  }
}

.postPage h2 {
  font-size: 25px;
}

@media (max-width: 640px) {
  .postPage h2 {
    font-size: 20px;
  }
}

.noContent {
  color: var(--color-info);
}

.postPage .secondLine {
  margin-top: 15px;
  text-align: left;
}

.secondLine {
  font-family: var(--font-family);
  color: var(--color-info);
  padding-bottom: 30px;
  text-align: left;
  font-size: 14px;
}

.separator:after {
  content: '•';
  font-size: 15px;
  padding: 0 10px;
}

.readingTime {
  float: right;
}

.replies {
  border-top: 1px solid var(--color-1);
  margin-top: 20px;
  padding: 20px;
  width: 9in;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.replies h2 {
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 20px;
}

@media (max-width: 1111px) {
  .comments {
    float: right;
  }

  .replies {
    width: 90%;
  }
}

.backToTop {
  cursor: pointer;
  margin-bottom: 25px;
}

.backToFeed {
  cursor: pointer;
}

.navigation {
  font-family: var(--font-family);
  font-size: 15px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.navigation span {
  display: inline-block;
}

.backToFeed span, .backToTop span {
  position: relative;
}

.backToFeed span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: auto;
  position: absolute;
  top: 25px;
  right: 0;
  background: var(--color-1);
  transition: transform 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
  width: 100%;
}

.backToFeed span:hover:after { 
  transform: scaleX(1);
}

.backToTop span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  top: 25px;
  position: absolute;
  background: var(--color-1);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.backToTop span:hover:after {
  width: 100%; 
  left: 0; 
}

.mediaContainer {
  display: inline-block;
  width: auto;
  overflow: hidden;
  vertical-align: top;
  margin-right: 10px;
  padding-top: 5px;
}

.media iframe {
  border: none;
}

.media {
  display: inline-block;
  width: auto;
  margin-bottom: 10px;
}

.media img {
  cursor: pointer;
  max-width: 100%;
  display: block;
  height: auto;
}

.reply {
  display: block;
  padding: 10px 0;
  font-family: var(--font-family);
}

.reply .stateString {
  color: var(--color-info);
}

.author {
  color: var(--color-2-secondary);
  font-family: var(--font-family);
  font-weight: bold;
}

.reply .author {
  font-family: var(--font-family);
  color: var(--color-2-secondary);
}

.replyHeader {
  font-size: 14px;
}

.reply .content {
  display: block;
  color: var(--color-post);
  font-family: var(--font-family);
  line-height: 1.5;
  unicode-bidi: isolate;
  font-size: 14px;
}

.reply .author {
  font-weight: bold;
}

.nestedReply {
  margin-left: 15px;
  padding-left: 10px;
  position: relative;
}

.nestedReply:before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 0;
  border-left: 1px dotted var(--color-2-secondary);
}

.reply .timestamp, .reply .separator {
  color: #808080;
}

@media (max-width: 1111px) {
  .replies {
    padding: 0;
    padding-top: 30px;
  }
}

.content {
  display: flex !important;
  align-items: flex-start;
}

.content.expanded {
  display: block !important;
}

.content.expanded .mediaContainer {
  display: block;
  width: 100%;
}

.content.expanded .media img {
  max-width: 100%;
}

.textContent {
  flex: 1;
}

.replyButton {
  float: left;
}

.replyButton button {
  color: var(--color-info);
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-weight: 700 !important;
  font-size: 14px;
}
