.postPage {
  max-width: 1390px;
  margin: 0 auto;
}

.post {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.letter {
  width: 8.5in;
  background-color: black;
  padding: 40px;
  color: white;
  font-family: Georgia, serif;
  flex-shrink: 0;
  line-height: 1.5;
}

.letter h1 {
  font-family: monospace;
}

@media (max-width: 930px) {
  .letter {
    flex-shrink: 1;
    border: none;
    padding: 0;
  }
}

.postPage h1 {
  font-size: 25px;
}

.postPage h2 {
  font-size: 25px;
}

.postPage p {
  font-size: 18px;
}

.postPage .secondLine {
  margin-top: 15px;
}

.secondLine {
  font-family: monospace;
  color: #ccc;
  padding-bottom: 30px;
}

.separator:after {
  content: '•';
  font-size: 15px;
  padding: 0 10px;
}

.readingTime {
  float: right;
}

.replies {
  border-top: 1px solid #00ff00;
  margin-top: 20px;
  padding: 20px;
  width: 9in;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.replies h2 {
  font-family: monospace;
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 20px;
}

@media (max-width: 930px) {
  .comments {
    float: right;
  }

  .replies {
    width: 90%;
  }
}

.backToTop {
  cursor: pointer;
  margin-bottom: 25px;
}

.backToFeed {
  cursor: pointer;
}

.navigation {
  font-family: monospace;
  font-size: 15px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.navigation span {
  display: inline-block;
}

.backToFeed span, .backToTop span {
  position: relative;
}

.backToFeed span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: auto;
  position: absolute;
  top: 25px;
  right: 0;
  background: #00ff00;
  transition: transform 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
  width: 100%;
}

.backToFeed span:hover:after { 
  transform: scaleX(1);
}

.backToTop span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  top: 25px;
  position: absolute;
  background: #00ff00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.backToTop span:hover:after {
  width: 100%; 
  left: 0; 
}

.mediaContainer {
  display: inline-block;
  width: auto;
  overflow: hidden;
  vertical-align: top;
  margin-right: 10px;
}

.media iframe {
  border: none;
}

.media {
  display: inline-block;
  width: auto;
  margin-bottom: 10px;
}

.media img {
  cursor: pointer;
  max-width: 100%;
  display: block;
  height: auto;
}

.reply {
  display: block;
  padding: 10px 0;
}

.reply .stateString {
  color: gray;
}

.author {
  color: #e9e76cb3;
}

.reply .author {
  font-family: monospace;
  color: #e9e76cb3;
}

.reply .content {
  display: block;
  color: white;
  font-family: Georgia, serif;
  line-height: 1.5;
  unicode-bidi: isolate;
}

.reply .author {
  font-weight: bold;
}

.nestedReply {
  margin-left: 15px;
  border-left: 1px dotted #e9e76cb3;
  padding-left: 10px;
}

.reply .timestamp, .reply .separator {
  color: gray;
}

@media (max-width: 930px) {
  .replies {
    padding: 0;
    padding-top: 30px;
  }
}

.content {
  display: flex !important;
  align-items: flex-start;
}

.content.expanded {
  display: block !important;
}

.content.expanded .mediaContainer {
  display: block;
  width: 100%;
}

.content.expanded .media img {
  max-width: 100%;
}

.textContent {
  flex: 1;
}